
.container{
display: flex;
align-items: center;
justify-content: center;
margin: 0;
height: 50%;
font-weight: bold;
}

#myVideo {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%; 
min-height: 100%;
z-index: -1;
}

